body {
    font-family: 'PT-Tempesta-Seven', sans-serif !important;
    margin: 0;
    padding: 0;
    background-image: url('images/porto-photo-nuit-douro-blog-article.png'); /* Remplacez par le chemin de votre image */
    background-size: cover; /* Pour que l'image couvre tout l'écran */
    background-position: center; /* Pour centrer l'image */
    background-attachment: fixed;
    overflow-x: hidden; /* Empêche le défilement horizontal */
    position: relative;
}

@font-face {
    font-family: 'Shuttle-x';
    src: url('fonts/header/SHUTTLE-X.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PF-Tempesta-Seven';
    src: url('fonts/paragraphes/pf_tempesta_seven.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BM-Army';
    src: url('fonts/sous-titres/BMarmy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Animation pour l'apparition des bannières */
@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes slideOutRight {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 14px; /* Réduisez la taille de la police pour les petits écrans */
    }

    header {
        flex-direction: column; /* Empile les éléments du header verticalement */
        align-items: center;
        padding: 10px;
    }

    .logo img {
        width: 40px; /* Réduisez la taille du logo */
        height: 40px;
    }

    .nav-links {
        display: none; /* Cache le menu par défaut */
        flex-direction: column; /* Affiche les liens verticalement */
        position: absolute;
        top: 60px;
        right: 0;
        background-color: rgba(80, 41, 5, 1);
        width: 100%;
        padding: 10px 0;
        border-radius: 0;
        box-shadow: none;
    }

    .nav-links.active {
        display: flex; /* Affiche le menu lorsqu'il est actif */
    }

    .hamburger {
        display: block; /* Affiche le bouton hamburger sur mobile */
    }

    .banner, .banner1, .banner2, .banner3 {
        width: 95%; /* Augmente la largeur pour occuper plus d'espace sur mobile */
        margin-top: 10%; /* Réduisez les marges pour économiser de l'espace */
        padding: 15px; /* Réduisez le padding */
    }

    .floating-title {
        font-size: 2rem; /* Réduisez la taille du titre flottant */
    }

    .footer {
        font-size: 12px; /* Réduisez la taille du texte dans le footer */
        padding: 10px 0;
    }

    .instagram-logo {
        width: 25px; /* Réduisez la taille du logo Instagram */
        height: 25px;
    }

    .brick-floor {
        height: 40px; /* Réduisez la hauteur du sol en brique */
        background-size: 50px 50px; /* Ajustez la taille des briques */
    }

    .walking-man {
        width: 40px; /* Réduisez la taille du bonhomme */
        height: 40px;
        bottom: 15px; /* Ajustez sa position */
    }
}

header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Fixe le header en haut de la page */
    top: 0;
    left: 0;
    width: 100%;
    z-index:10; /* Pour que le header soit au-dessus du contenu */
    color: rgb(239, 126, 13);
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.logo span {
    font-family: 'Shuttle-x';
    font-size: 30px;
    font-weight: bold;
    text-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.7), /* Ombre décalée à droite et en bas */
        -2px -2px 4px rgba(0, 0, 0, 0.7); /* Ombre décalée à gauche et en haut */
}   

nav {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* Masquer les liens par défaut */
    display: none;
    flex-direction: column; /* Empiler les liens verticalement */
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgb(111, 111, 111);
    color: rgb(230, 218, 191);
    width: 150px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100px; /* Définit la largeur du carré blanc */
    right: 40px; /* Ajuster la position droite du menu */
    height: auto; /* Définit la hauteur du carré en fonction du contenu */
    text-align: left;
}

.nav-links li {
    margin-bottom: 10px;
}

.nav-links a {
    font-family: 'Shuttle-x', serif;
    font-size: 17px;
    text-decoration: none;
    color: rgb(255, 200, 82);
}

.nav-links a:hover {
    color: rgb(80, 41, 5); /* Bleu au survol */
}

.active {
    font-weight: normal;
}

.hamburger {
    display: block;
    cursor: pointer;
    margin-right: 30px; /* Ajuster la marge droite pour le positionnement */
    position: relative;
    z-index: 10;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    background-color: rgb(239, 126, 13);
    transition: transform 0.3s ease;
}

.hamburger.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.hamburger.active + .nav-links {
    display: flex; /* Afficher les liens lorsque le menu est actif */
}

main {
    padding: 20px;
    margin-top: 60px; /* Espace pour le header */
}

/* Le bandeau */
.banner, .banner2 {
    position: relative;
    left: 10%;
    width: 90%; /* Largeur du bandeau */
    margin: 0 auto;
    margin-top: 25%;
    margin-bottom: 30px;
    height: auto;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(80, 41, 5, 1); /* Fond blanc semi-transparent */
    text-align: left;
    z-index: 1; /* On le place au-dessus de l'image de fond */
}

.banner {
    margin-top: 600px; /* Espace au-dessus du bandeau */
}

/* Style du texte du bandeau */
.banner p, .banner h3, .banner2 p, .banner2 h3 {
    margin-right: 5%; /* Augmente la marge à droite */
    color: rgb(194, 194, 194); /* Couleur du texte */
}

.banner h3, .banner2 h3 {
    font-family: 'BM-Army', sans-serif !important;
    font-size: 30px; /* Taille de la police */
}

.banner p, .banner2 p {
    font-size: 140%; /* Taille de la police */
}

/* Masquer le bandeau initialement */
.banner, .banner2 {
    opacity: 0; /* On rend le bandeau transparent */
    transition: opacity 0.5s ease; /* On ajoute une transition pour l'opacité */
}

/* Afficher le bandeau après un certain temps */
.banner.right, .banner2.right {
    animation: slideInRight 1s forwards;
}

.banner.hide-right, .banner2.hide-right {
    animation: slideOutRight 1s forwards;
}

.banner1, .banner3 {
    position: relative;
    right: 10%;
    width: 90%; /* Largeur du bandeau */
    margin: 0 auto;
    margin-top: 25%;
    margin-bottom: 30px;
    height: auto;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(80, 41, 5, 1); /* Fond blanc semi-transparent */
    text-align: right;
    z-index: 1; /* On le place au-dessus de l'image de fond */
}

/* Style du texte du bandeau */
.banner1 p, .banner1 h3, .banner3 p, .banner3 h3 {
    margin-left: 5%; /* Augmente la marge à droite */
    color: rgb(194, 194, 194); /* Couleur du texte */
}

.banner1 h3, .banner3 h3 {
    font-family: 'BM-Army', sans-serif !important;
    font-size: 30px; /* Taille de la police */
}

.banner1 p, .banner3 p {
    font-size: 140%; /* Taille de la police */
}

/* Masquer le bandeau initialement */
.banner1, .banner3 {
    opacity: 0; /* On rend le bandeau transparent */
    transition: opacity 0.5s ease; /* On ajoute une transition pour l'opacité */
}

/* Afficher le bandeau après un certain temps */
.banner1.left, .banner3.left {
    animation: slideInLeft 1s forwards;
}

.banner1.hide-left, .banner3.hide-left {
    animation: slideOutLeft 1s forwards;
}

.nav-links li a.active {
    font-weight: bold;
    color: rgb(80, 41, 5);
}

/* Conteneur du titre flottant */
.title-container {
    position: fixed; /* Fixé par rapport à l'écran */
    top: 50%; /* Centre verticalement */
    left: 50%;
    transform: translate(-50%, -50%); /* Centre précisément */
    z-index: 2; /* S'assurer qu'il est au-dessus du contenu */
    text-align: center;
    pointer-events: none; /* Empêche toute interaction */
    margin-bottom: 30px;
}

/* Style du titre */
.floating-title {
    font-family: 'Shuttle-x';
    color: rgb(255, 200, 82);
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
    z-index: 5;
}

/* Footer */
.footer {
    position: relative;
    bottom: 50px;
    margin-top: 10%;
    width: 100%;
    background-color: rgba(80, 41, 5, 1); /* Couleur de fond */
    color: rgb(255, 255, 255); /* Couleur du texte */
    text-align: center;
    padding: 20px 0;
    font-family: 'Howdy-bird', sans-serif;
    font-size: 16px;
    z-index: 998;
}

/* Logo Instagram */
.instagram-logo {
    width: 30px; /* Taille du logo */
    height: 30px;
    margin-top: 10px;
    transition: transform 0.3s ease; /* Animation au survol */
}

.instagram-logo:hover {
    transform: scale(1.2); /* Agrandit légèrement le logo au survol */
}

/* Sol en brique */
.brick-floor {
    position: fixed;
    bottom: 0; /* Positionné tout en bas de la page */
    left: 0;
    width: 100%; /* Prend toute la largeur de la page */
    height: 68px; /* Hauteur du sol */
    background-image: url('images/route.png'); /* Remplacez par l'image de votre sol en brique */
    background-repeat: repeat-x; /* Répète l'image horizontalement */
    z-index: 999; /* Juste en dessous du bonhomme */
}

.walking-man {
    position: fixed;
    bottom: 20px; /* Positionné en bas de la page */
    left: 0; /* Commence à gauche */
    width: 125px; /* Taille du bonhomme */
    height: 10%;
    background-image: url('images/octane.png'); /* Remplacez par l'image de votre bonhomme */
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1000; /* Toujours au-dessus des autres éléments */
    transition: transform 0.1s linear; /* Transition fluide */
}
