body {
    font-family: 'RetroCompute', sans-serif !important;
    margin: 0;
    padding: 0;
    background-image: url('images/porto-photo-nuit-douro-blog-article.png'); /* Remplacez par le chemin de votre image */
    background-size: cover; /* Pour que l'image couvre tout l'écran */
    background-position: center; /* Pour centrer l'image */
    background-attachment: fixed;
    overflow-x: hidden; /* Empêche le défilement horizontal */
    position: relative;
}

@font-face {
    font-family: 'Shuttle-x';
    src: url('fonts/header/SHUTTLE-X.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RetroCompute';
    src: url('fonts/paragraphes/retro-compute/Retrocompute.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NothamDemo';
    src: url('fonts/sous-titres/nothan/NOTHANDEMORegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Animation pour l'apparition des bannières */
@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes slideOutRight {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes boostAppear {
    from {
        opacity: 0;
        transform: scale(0.5); /* Le boost commence petit */
    }
    to {
        opacity: 1;
        transform: scale(1); /* Le boost atteint sa taille normale */
    }
}

@keyframes boostDisappear {
    from {
        opacity: 1;
        transform: scale(1); /* Le boost est visible */
    }
    to {
        opacity: 0;
        transform: scale(0.5); /* Le boost devient petit avant de disparaître */
    }
}

@media (max-width: 768px) {
    body {
        font-size: 14px; /* Réduisez la taille de la police pour les petits écrans */
    }

    header {
        flex-direction: column; /* Empile les éléments du header verticalement */
        align-items: center;
        padding: 10px;
    }

    .logo img {
        width: 40px; /* Réduisez la taille du logo */
        height: 40px;
    }

    .nav-links {
        display: none; /* Cache le menu par défaut */
        flex-direction: column; /* Affiche les liens verticalement */
        position: absolute;
        top: 60px;
        right: 0;
        background-color: black;
        width: 100%;
        padding: 10px 0;
        border-radius: 0;
        box-shadow: none;
    }

    .nav-links.active {
        display: flex; /* Affiche le menu lorsqu'il est actif */
    }

    .hamburger {
        display: block; /* Affiche le bouton hamburger sur mobile */
    }

    .banner, .banner1, .banner2, .banner3 {
        width: 95%; /* Augmente la largeur pour occuper plus d'espace sur mobile */
        margin-top: 10%; /* Réduisez les marges pour économiser de l'espace */
        padding: 15px; /* Réduisez le padding */
    }

    .floating-title {
        font-size: 2rem; /* Réduisez la taille du titre flottant */
    }

    .footer {
        font-size: 12px; /* Réduisez la taille du texte dans le footer */
        padding: 10px 0;
    }

    .instagram-logo {
        width: 25px; /* Réduisez la taille du logo Instagram */
        height: 25px;
    }

    .brick-floor {
        height: 40px; /* Réduisez la hauteur du sol en brique */
        background-size: 50px 50px; /* Ajustez la taille des briques */
    }

    .walking-man {
        width: 40px; /* Réduisez la taille du bonhomme */
        height: 40px;
        bottom: 15px; /* Ajustez sa position */
    }
}

header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Fixe le header en haut de la page */
    top: 0;
    left: 0;
    width: 100%;
    z-index:10; /* Pour que le header soit au-dessus du contenu */
    color: white;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.logo span {
    font-family: 'Shuttle-x';
    font-size: 30px;
    font-weight: bold;
    text-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.7), /* Ombre décalée à droite et en bas */
        -2px -2px 4px rgba(0, 0, 0, 0.7); /* Ombre décalée à gauche et en haut */
}   

nav {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* Masquer les liens par défaut */
    display: none;
    flex-direction: column; /* Empiler les liens verticalement */
    position: absolute;
    top: 60px;
    right: 0;
    background-color: white;
    color: black;
    width: 150px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100px; /* Définit la largeur du carré blanc */
    right: 40px; /* Ajuster la position droite du menu */
    height: auto; /* Définit la hauteur du carré en fonction du contenu */
    text-align: left;
}

.nav-links li {
    margin-bottom: 10px;
}

.nav-links a {
    font-family: 'Shuttle-x', serif;
    font-size: 17px;
    text-decoration: none;
    color: black;
}

.nav-links a:hover {
    color: red; /* Bleu au survol */
}

.active {
    font-weight: normal;
}

.hamburger {
    display: block;
    cursor: pointer;
    margin-right: 30px; /* Ajuster la marge droite pour le positionnement */
    position: relative;
    z-index: 10;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    background-color: white;
    transition: transform 0.3s ease;
}

.hamburger.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.hamburger.active + .nav-links {
    display: flex; /* Afficher les liens lorsque le menu est actif */
}

main {
    padding: 20px;
    margin-top: 60px; /* Espace pour le header */
}

/* Le bandeau */
.banner, .banner2 {
    width: 90%; /* Largeur du bandeau */
    margin: 0 auto;
    margin-top: 25%;
    margin-bottom: 30px;
    height: auto;
    padding: 20px;
    border-radius: 20px;
    background-color: white; /* Fond blanc semi-transparent */
    text-align: justify;
    z-index: 1; /* On le place au-dessus de l'image de fond */
}

/* Style du texte du bandeau */
.banner p, .banner h3, .banner2 p, .banner2 h3 {
    margin-right: 5%; /* Augmente la marge à droite */
    color: black; /* Couleur du texte */
}

.banner h3, .banner2 h3 {
    font-family: 'NothamDemo', sans-serif !important;
    font-size: 30px; /* Taille de la police */
}

.banner p, .banner2 p {
    font-size: 140%; /* Taille de la police */
}

/* Masquer le bandeau initialement */
.banner, .banner2 {
    opacity: 0; /* On rend le bandeau transparent */
    transition: opacity 0.5s ease; /* On ajoute une transition pour l'opacité */
}

/* Afficher le bandeau après un certain temps */
.banner.right, .banner2.right {
    animation: slideInRight 1s forwards;
}

.banner.hide-right, .banner2.hide-right {
    animation: slideOutRight 1s forwards;
}

.banner1, .banner3 {
    width: 90%; /* Largeur du bandeau */
    margin: 0 auto;
    margin-top: 25%;
    margin-bottom: 30px;
    height: auto;
    padding: 20px;
    border-radius: 20px;
    background-color: white; /* Fond blanc semi-transparent */
    text-align: justify;
    z-index: 1; /* On le place au-dessus de l'image de fond */
}

/* Style du texte du bandeau */
.banner1 p, .banner1 h3, .banner3 p, .banner3 h3 {
    margin-left: 5%; /* Augmente la marge à droite */
    color: black; /* Couleur du texte */
}

.banner1 h3, .banner3 h3 {
    font-family: 'NothamDemo', sans-serif !important;
    font-size: 30px; /* Taille de la police */
}

.banner1 p, .banner3 p {
    font-size: 140%; /* Taille de la police */
}

/* Masquer le bandeau initialement */
.banner1, .banner3 {
    opacity: 0; /* On rend le bandeau transparent */
    transition: opacity 0.5s ease; /* On ajoute une transition pour l'opacité */
}

/* Afficher le bandeau après un certain temps */
.banner1.left, .banner3.left {
    animation: slideInLeft 1s forwards;
}

.banner1.hide-left, .banner3.hide-left {
    animation: slideOutLeft 1s forwards;
}

body:not(.index-page) .banner,
body:not(.index-page) .banner2 {
    position: relative;
    left: 10%;
    width: 80%;
}

body:not(.index-page) .banner1,
body:not(.index-page) .banner3 {
    position: relative;
    right: 10%;
    width: 80%;
}

body.index-page .banner,
body.index-page .banner1,
body.index-page .banner2,
body.index-page .banner3 {
    position: relative;
    left: 0 !important;
    right: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
    transform: none;
    opacity: 1;
    margin-top: 25%;
    margin-bottom: 30px;
    width: 90%;
    text-align: justify;
}

body.index-page .banner {
    margin-top: 600px;
}

.banner {
    margin-top: 600px; /* Espace au-dessus du bandeau */
}

/* Style général pour les images des bannières */
.banner-image {
    width: 15%; /* Largeur de l'image */
    height: 50%; /* Conserve les proportions */
    border-radius: 10px; /* Coins arrondis */
    margin: 10px; /* Espacement autour de l'image */
    object-fit: cover; /* Ajuste l'image pour remplir l'espace */
}

/* Images à gauche (banner et banner2) */
.banner img {
    float: left; /* Positionne l'image à gauche */
    margin-right: 20px; /* Espace entre l'image et le texte */
}

/* Images à droite (banner1) */
.banner1 img {
    width: 30%; /* Largeur de l'image */
    height: 40%; /* Conserve les proportions */
    float: right; /* Positionne l'image à droite */
    margin-left: 20px; /* Espace entre l'image et le texte */
    margin-right: 0;
}

.banner2 img {
    width: 40%; /* Largeur de l'image */
    height: 40%; /* Conserve les proportions */
    float: left; /* Positionne l'image à gauche */
    margin-right: 20px; /* Espace entre l'image et le texte */

}

.nav-links li a.active {
    font-weight: bold;
    color: red;
}

/* Redimensionne uniquement les images des bannières sur la page membres */
body.membres-page .banner-image {
    width: 180px;    /* ou la taille que tu veux */
    height: 220px;   /* ou auto, ou la taille que tu veux */
    object-fit: cover;
    border-radius: 10px;
}

.members-link a {
    color: rgb(194, 41, 5); /* Couleur du lien */
    text-decoration: none; /* Supprime le soulignement par défaut */
    font-weight: bold; /* Met le lien en gras */
}

.IT-link a {
    color: rgb(194, 41, 5); /* Couleur du lien */
    text-decoration: none; /* Supprime le soulignement par défaut */
    font-weight: bold; /* Met le lien en gras */
}

/* Conteneur du titre flottant */
.title-container {
    position: fixed; /* Fixé par rapport à l'écran */
    top: 50%; /* Centre verticalement */
    left: 50%;
    transform: translate(-50%, -50%); /* Centre précisément */
    z-index: 2; /* S'assurer qu'il est au-dessus du contenu */
    text-align: center;
    pointer-events: none; /* Empêche toute interaction */
    margin-bottom: 30px;
}

/* Style du titre */
.floating-title {
    font-family: 'Shuttle-x';
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
    z-index: 5;
}

/* Footer */
.footer {
    position: relative;
    bottom: 50px;
    margin-top: 10%;
    width: 100%;
    background-color: white; /* Couleur de fond */
    color: black; /* Couleur du texte */
    text-align: center;
    padding: 20px 0;
    font-family: 'Howdy-bird', sans-serif;
    font-size: 16px;
    z-index: 998;
}

/* Route */
.road {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-image: url('images/route.png'); /* Remplacez par le chemin de votre image */
    background-repeat: repeat-x; /* Répète l'image horizontalement */
    z-index: 999;
    perspective: 1000px; /* Permet les effets 3D */
}

/* Voiture */
.car {
    position: absolute;
    bottom: 10px; /* Position sur la route */
    left: 0; /* Commence à gauche */
    width: 10%;
    height: 175%;
    background-image: url('images/octane.png'); /* Image de la voiture */
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1000;
    transition: transform 0.4s linear; /* Transition fluide pour le mouvement */
    transform-style: preserve-3d;
}

/* Boost */
.boost {
    position: absolute;
    bottom: 35px;
    left: -55px; /* Derrière la voiture */
    width: 70px;
    height: 40px;
    background-image: url('images/boost.png'); /* Image du boost */
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0; /* Caché par défaut */
    transition: opacity 0.2s ease; /* Transition pour l'apparition/disparition */
}

.boost.active {
    animation: boostAppear 0.3s forwards; /* Animation d'apparition */
}

.boost.inactive {
    animation: boostDisappear 0.3s forwards; /* Animation de disparition */
}

/* Animation complète style half-flip */
.car.half-flip {
    animation: halfFlip 0.8s forwards;
}
  
  
.car.reset-flip {
    animation: resetFlip 0.8s forwards;
}
  
@keyframes halfFlip {
    0% {
        transform: rotate(0deg) scaleX(1);
    }
    100% {
        transform: rotate(-360deg) scaleX(-1);
    }
}
  
@keyframes resetFlip {
    0% {
        transform: rotate(0deg) scaleX(-1);
    }
    100% {
        transform: rotate(360deg) scaleX(1);
    }
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black; /* ou une autre couleur de fond */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    transition: opacity 0.5s;
}

#loader img {
    max-width: 60vw;
    max-height: 60vh;
    object-fit: contain;
}

/* Quand le loader est caché */
#loader.hide {
    opacity: 0;
    pointer-events: none;
}
